/css.html
/div.html
/download.image.png
/grid.css
/grid.html
/grid1.css
/grid1.html
/messi.jpg.webp
/mylogo.jpg
/mylogo1.jpg
/navbar.css
/navbar.html
/personal_portfolio.html
/photo_2026-05-25_17-13-59.jpg
/style.css
/style1.css
/w3image.png
/web.html