/css.html
/div.html
/download.image.png
/grid.css
/grid.html
/grid1.css
/grid1.html
/hero.image.png
/messi.jpg.webp
/mylogo.jpg
/mylogo1.jpg
/mylogo3.jpg
/mylogo5.jpg
/navbar.css
/navbar.html
/personal_portfolio.html
/photo_2026-05-25_17-13-59.jpg
/project.image.jpg
/resume.pdf.pdf
/style.css
/style1.css
/w3image.png
/web.html